@use "../../styles/variables" as *;

section {
  width: 100%;
  height: auto;
  border: 2px solid #000;
  .container-h2 {
    text-align: center;
    .section-h2 {
      font-size: 1.2em;
      margin: 10px auto;
    }
  }
  .categories-container {
    display: flex;
    width: 80%;
    height: auto;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 6px;
    .btn-category {
      width: auto;
      height: auto;
      margin: 10px 0;
      padding: 5px 15px;
      border: 1px solid #4c4c4c;
      border-radius: 20px;
      cursor: pointer;
      &:active {
        transform: scale(0.95);
      }
      &:hover {
        background-color: $color-primary;
      }
      &.active {
        background-color: $color-primary;
        font-weight: bold;
      }
    }
  }
  .load {
    text-align: center;
    margin: 15px 0;
    .btn-load {
      padding: 8px 20px;
      border: none;
      border-radius: 5px;
      background-color: $color-primary;
      color: #fff;
      cursor: pointer;
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
