section {
  width: 100%;
  height: auto;
  border: 2px solid #000;
  .container-h2 {
    text-align: center;
    .section-h2 {
      font-size: 1.2em;
      margin: 10px auto;
    }
  }
  .categories-container {
    display: flex;
    width: 80%;
    height: auto;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
    .btn-category {
      width: auto;
      height: auto;
      margin: 10px 0;
      padding: 5px 15px;
      border: 1px solid #4c4c4c;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}
