@use "../../styles/variables" as *;

header {
  width: 100%;
  position: relative;
  min-width: 340px;
  height: auto;
  background-color: $color-primary;
  border-top: solid 1px $color-secondary;
  border-bottom: solid 1px $color-secondary;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  .btn-arrow {
    all: unset;
  }
  .header-arrowB,
  .header-arrowF {
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
    background-color: #fff;
    display: flex;
    width: 4em;
    height: 4em;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  .header-arrowB {
    left: 0;
    border-radius: 0 50px 50px 0;
  }
  .header-arrowF {
    right: 0;
    border-radius: 50px 0 0 50px;
  }
  &:hover {
    .header-arrowB,
    .header-arrowF {
      opacity: 1;
    }
  }
  .arrow-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    &:active {
      transform: scale(0.8);
    }
  }
  .header-poster {
    display: flex;
    max-width: 1200px;
    min-width: 340px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 80px;
      height: 100%;
      z-index: 2;
      pointer-events: none;
    }
    &::before {
      left: 0;
      background: linear-gradient(
        to right,
        rgba($color-primary, 1) 0%,
        rgba($color-primary, 0.3) 40%,
        transparent 100%
      );
    }

    &::after {
      right: 0;
      background: linear-gradient(
        to left,
        rgba($color-primary, 1) 0%,
        rgba($color-primary, 0.3) 40%,
        transparent 100%
      );
    }
    .carousel-indicators {
      position: absolute;
      display: flex;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #000;
      padding: 5px 10px;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      border: solid 1px #FFF;
      span {
        width: 25px;
        height: 2px;
        margin: 0 5px;
        cursor: pointer;
        background-color: #fff;
        &.active {
          width: 25px;
          height: 4px;
          background-color: $color-tertiary;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .header-arrowB,
    .header-arrowF {
      opacity: 1;
      width: 2.5em;
      height: 2.5em;
    }
    .header-poster {
      img {
        min-height: 100px;
      }
    }
  }
}
