@use "../../styles/variables" as *;

header {
  width: 100%;
  position: relative;
  min-width: 340px;
  height: 400px;
  background-color: $color-terceary;
  background-image: linear-gradient(to bottom, $color-primary 80%, #f4f4f4);
  display: flex;
  justify-content: center;
  .btn-arrow{
    all: unset;
  }
  .header-arrowB,
  .header-arrowF {
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
    background-color: #fff;
    display: flex;
    width: 4em;
    height: 4em;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  .header-arrowB {
    left: 0;
    border-radius: 0 50px 50px 0;
  }
  .header-arrowF {
    right: 0;
    border-radius: 50px 0 0 50px;
  }
  &:hover {
    .header-arrowB,
    .header-arrowF {
      opacity: 1;
    }
  }
  .arrow-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    &:active {
      transform: scale(0.8);
    }
  }
  .header-poster {
    display: flex;
    max-width: 1200px;
    min-width: 340px;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    .header-arrowB,
    .header-arrowF {
      opacity: 1;
      width: 2.5em;
      height: 2.5em;
    }
  }
}
