@use "../../styles/variables" as *;

.nav-bar {
  width: 100%;
  min-width: 340px;
  height: 6em;
  background-color: $color-primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 10em;
    height: auto;
    border-radius: 5px;
  }
  .search-form {
    position: relative;
    input {
      width: 30em;
      height: 2em;
      border-radius: 5px;
      border: none;
      padding: 3px;
      padding-left: 15px;
      padding-right: 35px;
      font-size: 16px;
      box-shadow: -5px 5px 5px $color-secondary;
      border-right: 1px solid #424242;
    }
    .search-button {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      cursor: pointer;
      background: none;
      border: none;
      .search-icon {
        width: 40px;
        height: 25px;
        color: $color-secondary;
      }
      &:hover .search-icon {
        color: $color-tertiary;
      }
      &:active .search-icon {
        transform: scale(0.9);
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 80%;
      background-color: #a3a3a3;
      right: 45px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .cart-button {
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    .cart-icon {
      width: 50px;
      height: 40px;
      color: #fff;
    }
    &:active .cart-icon {
      transform: scale(0.9);
    }
    .cart-quantity {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 8px;
      right: 13px;
      background-color: red;
      border-radius: 50%;
      color: #fff;
      padding: 2px 5px;
      font-size: 14px;
      font-weight: bold;
      width: 20px;
      height: 20px;
    }
    .cart-dropdown {
      position: absolute;
      top: 60px;
      right: 0;
      width: 280px;
      height: auto;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 10px;
      z-index: 100;
      .cart-empty {
        text-align: center;
        font-size: 15px;
        color: #424242;
        font-weight: bold;
        padding: 10px;
      }
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    padding: 1em 0;
    gap: 1em;
    .search-form {
      width: 90%;
      input {
        width: 100%;
        font-size: 14px;
        padding-right: 0;
        padding-left: 5px;
      }
    }
  }
}
