@use "../../styles/variables" as *;

.nav-bar {
  width: 100%;
  min-width: 340px;
  height: 6em;
  background-color: $color-primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 10em;
    height: auto;
    border-radius: 5px;
  }
  .search-form {
    position: relative;
    input {
      width: 30em;
      height: 2em;
      border-radius: 5px;
      border: none;
      padding: 3px;
      padding-left: 15px;
      padding-right: 35px;
      font-size: 16px;
      box-shadow: -5px 5px 5px $color-secondary;
      border-right: 1px solid #424242;
    }
    .search-button {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      cursor: pointer;
      background: none;
      border: none;
      .search-icon {
        width: 40px;
        height: 25px;
        color: $color-secondary;
      }
      &:hover .search-icon {
        color: $color-tertiary;
      }
      &:active .search-icon {
        transform: scale(0.9);
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 80%;
      background-color: #a3a3a3;
      right: 45px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    padding: 1em 0;
    gap: 1em;
    .search-form {
      width: 90%;
      input {
        width: 100%;
        font-size: 14px;
        padding-right: 0;
        padding-left: 5px;
      }
    }
  }
}
