@use "../../styles/variables" as *;

.simple-navbar-cart {
  width: 100%;
  height: 6em;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  .btn-back {
    background: none;
    cursor: pointer;
    border: none;
    font-size: 2em;
    z-index: 10;
  }
  img {
    width: 10em;
    height: auto;
    border-radius: 5px;
  }
}
