@use "../../styles/variables" as *;

.section-container {
  display: block;
  margin: 1em auto;
  width: 100%;
  height: auto;
  border: solid 2px $color-secundary;
  padding: 0.5em;
  h2 {
    text-align: center;
    margin-bottom: 0.5em;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    background-color: #fff;
    padding: 3px;
    border: solid 2px $color-secundary;
  }
}
