@use "../../styles/variables" as *;
@use "sass:color";

.section-container {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border: solid 2px $color-secondary;
  h2 {
    text-align: center;
    margin: 0.5em 0;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    background-color: #fff;
    padding: 3px;
    border-top: solid 2px $color-secondary;
    border-bottom: solid 2px $color-secondary;
    .h3-noProduct {
      margin: 2em 0;
      font-weight: normal;
    }
  }
  .container-pagination {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    .btn-page {
      background-color: $color-primary;
      border: solid 1px $color-secondary;
      color: $color-secondary;
      padding: 0.5em 1em;
      margin-left: 0.5em;
      cursor: pointer;
      font-weight: bold;
      &:hover {
        background-color: color.adjust($color-primary, $lightness:20%);
      }
      &:active {
        transform: scale(0.9);
      }
      &.active {
        background-color: #fff;
      }
    }
    .btn-prev,
    .btn-next {
      font-weight: bold;
      background-color: rgb(173, 173, 173);
    }
    .pagination-ellipis {
      align-self: top;
      margin-left: 0.5em;
      font-size: 1.1em;
    }
  }

  @media (max-width: 768px) {
    .container {
      gap: 5px;
    }
  }
  @media (max-width: 480px) {
    .container {
      gap: 2px;
    }
  }
}
