.checkout-success {
  text-align: center;
  padding: 2em;
  background-color: #19b445;
  color: #fff;
  border-radius: 3px;
  border: none;
  .checkout-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    .order-number {
      font-size: 18px;
      font-weight: bold;
    }
    .checkout-date{
      font-size: 16px;
    }
  }
  .checkout-title {
    font-size: 20px;
    font-weight: bold;
  }
  .checkout-header {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    padding: 0 10px;
  }
  .checkout-detail {
    margin-top: 1em;
    font-size: 18px;
    .checkout-list {
      list-style: none;
      padding: 0;
      .item-product-img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 3px;
      }
    }
    .checkout-list li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 5px;
    }
    .checkout-list li:last-child {
      border-bottom: 1px dashed #fff;
    }
    .checkout-header {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5em;
    }
    .checkout-total {
      font-weight: bold;
      margin-top: 2em;
      font-size: 20px;
    }
  }
}
